.datepicker-header {
  height: 60px;
  background: linear-gradient(to right, cyan, purple);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.custom-container {
  display: flex;
  flex-direction: column;
}
